export(fitOnSinglePlat,
computeAbility,
intIRTeasyRun,
calculatePermutedScoreByGeneSampling,
simulateBinaryResponseMat,
dichotomize,
dichotomizeExpr,
dichotomizeMethy,
dichotomizeCN,
intIRTeasyRunFromRaw
)

